*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

#wrap{overflow: hidden; width: 100%;}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}



#header{width: 100%; height: 146px;}
.headerinner{width: 1320px; margin: 0 auto; height: 100%;}
.top{width: 100%; height: 88px; box-sizing: border-box;}


.logo{float: left;}
.logo{padding:13px 0 13px 50%; margin-left: -113px;}
.logo img{display: block;}


.link{float: right;}
.link li{float: left; padding: 31px 0;}
.link li a{display: block; padding-left: 15px; opacity: 0.5;}
.link li a:hover{opacity: 1;}


.navbox{width: 1320px; margin: 0 auto; height: 60px;}
.nav{width: 100%;}
.nav>li{float: left; width: 25%; text-align: center; position: relative; }
.nav>li>a{display: block; font-family: 'GmarketSansMedium'; font-size: 17px;
        color: #636363; padding: 17px 0; }
.nav>li>a:hover{color: #ed8d85;}


    
.sub{width: 330px; position: absolute; z-index: 99; display: none;}
.sub li{width: 100%; height: 45px; text-align: center;}
.sub li a{display: block; color: #000;
    font-family: 'Noto Sans KR'; font-weight: 500;
    background-color: rgb(255, 255, 255,0.3); padding: 13px 0;
    font-size: 13px;}
.sub li a:hover{background-color: rgba(255,255,255,0.5); color: #ed8d85;}


.brandimg img{display: block;}

.nav li:hover .sub{display: block;}



/* ------------------------------------------------헤더 끝 */





#branbanner{width: 100%;
    height:630px; 
    background: url(images/brand\ banner.jpg); position: relative;}

#branbanner img{display: block;}
.back{padding:50px 50%; margin-left: -275px;}
.ourslow{position: absolute; top:30%; left: 25%;}
.good{position: absolute; top: 50%; right: 25%;}
.brandtext{
font-family: 'Noto Sans KR'; font-size: 17px; font-weight: 400; color: #fff; position: absolute; left: 50%; bottom: 20px; margin-left: -201.5px;}


/* ------------------------------------------------브랜드배너 끝 */







#brandstory{width: 1320px; margin:200px auto 180px; height: 1062px;}




.allbox{width: 100%; height: 890px;}
.textbox1{width: 100%; height:73px; margin-bottom: 100px;}
.textbox1 h1{box-sizing: border-box; text-align: center; font-size: 30px; width: 407px;
    height: 73px; background-color: #eca995;
    color: #28460e; font-family: 'GmarketSansBold';
    padding: 13px 0; position: relative; float: left;}


.side{font-size: 25px; font-family: 'GmarketSansBold';
    color: #eca995; float: left; padding: 17px 20px;}





.leftbox{width: 610px; height:890px; float: left; position: relative;}
.lefttext h2{font-family: 'GmarketSansMedium'; font-size: 20px;
    line-height: 25pt; color: #65804e; font-weight: 400;}

.lefttext p{font-family: 'Noto Sans KR'; color: #000;
    font-size: 15px; font-weight: 400; line-height: 20pt; margin-top: 20px;}

.leftimg{position: absolute; left:0; bottom: 0;}


.rightbox{width: 610px; height: 880px; float: right;}
.righttext{margin-top: 59px;}
.righttext h2{font-family: 'GmarketSansMedium'; font-size: 20px;
    line-height: 25pt; color: #65804e; font-weight: 400;}
.righttext p{font-family: 'Noto Sans KR'; color: #000;
    font-size: 15px; font-weight: 400; line-height: 20pt; margin-top: 20px;}



/* ------------------------------------------------브랜드스토리 끝 */


#belief{width: 100%;
     background: url(images/belief\ back\ img.jpg) no-repeat 0.2% center;
     background-size: 100%;
   
     height: 1780px; margin: 200px auto;}


.beinner{width:73%; margin:0 auto;
        position: relative;}
.beinner h1{font-size: 30px; font-family: 'GmarketSansBold'; color: #28460e; text-align: center;}
.tt{font-size: 20px; font-family: 'GmarketSansBold'; color: #65804e;text-align: center; padding-bottom: 150px;}



.zigzag{width: 100%;height: 1200px; position: relative; margin: 0 auto;}


.bbox1{text-align: left; position: absolute; top: 0; left:2%;}
.bbox2{text-align: right; position: absolute; right: 0; top:31%;}
.bbox3{text-align: left; position: absolute; left: 0; top:55%;}
.bbox4{text-align: right; position: absolute; right: 0; top:85%;}


.name{font-size: 25px;font-family: 'GmarketSansMedium';
    margin: 10px 0; color:#ed8d85;}

.betext{font-size: 15px; font-family: 'Noto Sans KR'; font-weight: 400;}





#map{width:1320px; margin: 0 auto; height: 685px;}
#map h2{text-align: center; font-size: 25px; font-family: 'Noto Sans KR';
        font-weight: 700; }
.jum{width: 100%;}
.jum li{width: 329px;float: left; text-align: center;  padding: 24px 0 45px;}
.jum li a{display: block; font-family: 'Noto Sans KR'; font-weight: 500;
        font-size: 20px; border-left: 1px solid #333333;}

.jum li:nth-child(1) a{color: #ed8d85; border-left: none;}
.jum li a:hover{color: #ed8d85;}

.mapimg{width:735px; height: 550px; float: left;}
.maptext{width:585px; height: 550px; float: right;
        background-color: #eee; box-sizing: border-box; padding: 60px;}

.maptext h3{font-size: 22px; font-family: 'Noto Sans KR'; font-weight: 500;
            padding-bottom: 37px;}

.maptext p{font-family: 'Noto Sans KR'; font-weight: 500; font-size: 15px;
            padding-bottom: 18px;}
.mm{margin-bottom:183px;}
.mm2{padding-top:37px; border-top: 1px solid #a7a7a7;}









#footer{width: 100%; height: 300px; background-color: #eea9a3;
    margin-top: 200px;}
.footerinner{width: 1320px; margin: 0 auto; padding-top: 50px;}

.box1{width: 644px; height: 203px; 
float: left; border-right: 1px solid #ce766e;}
.ftlink{width: 100%; height:78px;}
.ftlink li{float: left; padding-right: 63px;}
.ftlink li a{display: block; color: #000;
font-family: 'Noto Sans KR'; font-size: 15px;
font-weight:700; padding: 28px 0;}
.box1 p{font-size: 13px; font-family: 'Noto Sans KR';
    color: #000; padding-bottom: 17px; font-weight: 500;}



.box2{width:434px; height: 203px; float: left; border-right: 1px solid #ce766e;}
.box2inner{width: 300px; height: 203px; margin: 0 auto;}
.box2inner h3{font-size: 15px; font-family: 'Noto Sans KR';
font-weight: 700; padding: 28px 0 12px; color: #000;}
.box2inner h1{font-size: 20px; font-family: 'Noto Sans KR';
        font-weight: 700; padding-bottom: 12px;}
.box2inner p{font-size: 13px; font-family: 'Noto Sans KR'; font-weight: 400;
        }




.box3{width: 235px; height: 203px; float: left;}
.fticon{float: right; padding-top:30px;}
.fticon img{display: block; padding-left: 15px; float: left;}


























